<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">producto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list >
    <ion-item >
      <img  >


    </ion-item>
  </ion-list> -->

  <ion-card *ngIf="proSer.products">
    <section style="display: flex; justify-content: space-between;">    <ion-button color="danger" routerLink="/products">anterior</ion-button><ion-button color="primary" (click)="proSer.consultarProductos()">siguiente</ion-button></section>
    <ion-card-content>
      <ion-item *ngFor="let p of proSer.products">
        <ion-avatar slot="start">
          <img [src]="p.images[0]" />
        </ion-avatar>
        <ion-list>
            <ion-label >{{ p.title}}</ion-label>
            <li><ion-text color="primary"> $&nbsp;{{p.price}} </ion-text></li>
            <li><ion-text color="success"> {{p.discountPercentage}} %</ion-text></li>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
